<!-- REGISTER -->
<form class="sky-form boxed">
    <header>Cadastre-se</header>

    <fieldset>
        <div class="row">
            <section class="col col-md-12">
                <ul class="lightbox nomargin-left list-unstyled" data-plugin-options="{&quot;delegate&quot;: &quot;a&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}}">
                    
                    <li class="col-md-6 nomargin-left"><!-- item -->
                        <div class="item-box">
                            <figure>
                                <a (click)="redirectToCadastro(1)" class="item-hover">
                                    <span class="overlay color2"></span>
                                    <span class="inner">
                                        Cadastro <strong>PROFESSOR</strong>
                                    </span>
                                </a>
                                <img class="img-responsive" src="../../assets/images/professor.png" width="260" height="260" alt="">
                            </figure>
                        </div>
                    </li>

                    <li class="col-sm-6"><!-- item -->
                        <div class="item-box">
                            <figure>
                                <a (click)="redirectToCadastro(2)" class="item-hover">
                                    <span class="overlay color2"></span>
                                    <span class="inner">
                                        Cadastro <strong>ALUNO</strong>
                                    </span>
                                </a>
                                <img class="img-responsive" src="../../assets/images/aluno.png" width="260" height="260" alt="">
                            </figure>
                        </div>
                    </li>

                </ul>
            </section>
        </div>
    </fieldset>
</form>
<!-- /REGISTER -->