<header id="topBar">
    <div class="container">

        <div class="pull-left fsize13 hide_mobile">

            <div class="block text-right"><!-- social -->
                <a class="logo" (click)="backToHome()">
                    <img src="../../assets/epona/images/logo.png" height="50" alt="" />
                </a>
            </div><!-- /social -->

        </div>

        <div *ngIf="user.logado" id="barMain">
            <nav class="nav-second">
                <ul class="nav nav-pills nav-second">
                    <li><a (click)="redirect('/usuario/edit/user.id')"><i class="fa fa-angle-right"></i> {{user.name}}</a></li>
                    <li><a (click)="redirect('/evento/list')"><i class="fa fa-angle-right"></i> Eventos</a></li>
                    <li><a (click)="exit()"><i class="fa fa-angle-right"></i> Sair</a></li>
                </ul>
            </nav>
        </div>

    </div><!-- /.container -->
    <div class="divider half-margins"><!-- divider 30px --></div>
</header>
