<div class="container">
    <div class="row">
        <div class="col-md-12">
            <alert *ngIf="message">
                {{message}}
            </alert>

            <h1 class="text-center">CADASTRO EVENTO</h1>

            <form action="" class="sky-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-md-6">
                            <label class="input">
                                <i class="icon-append fa fa-hotel"></i>
                                <input required name="name" [(ngModel)]="evento.name" type="text" placeholder="Título do evento">
                            </label>
                        </section>
                        <section class="col col-md-6">
                            <label class="input">
                                <i class="icon-append fa fa-hotel"></i>
                                <places *ngIf="!routeId" (emitirLatLong)="setMap($event)"></places>
                                <places *ngIf="routeId" [value]="evento.endereco.name" (emitirLatLong)="setMap($event)"></places>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-md-4">
                            <label class="input">
                                <input required name="idioma" [(ngModel)]="evento.idioma.name" placeholder="Iidoma*" type="text" list="listIdiomaEvento">
                                <datalist id="listIdiomaEvento">
                                    <option *ngFor="let idioma of idiomas" value="{{idioma.name}}"></option>
                                </datalist>
                            </label>
                        </section>
                        <section class="col col-md-4">
                            <label class="input">
                                <input required name="nivel" [(ngModel)]="evento.nivel.name" placeholder="Nível*" type="text" list="listNivelEvento">
                                <datalist id="listNivelEvento">
                                    <option *ngFor="let nivel of niveis" value="{{nivel.name}}"></option>
                                </datalist>
                            </label>
                        </section>
                        <section class="col col-md-4">
                            <label class="input">
                                <input required name="professor" [(ngModel)]="evento.professor.name" placeholder="Professor" type="text" list="listProfessor">
                                <datalist id="listProfessor">
                                    <option *ngFor="let professor of professores" value="{{professor.name}}"></option>
                                </datalist>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-md-6">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <my-date-picker name="data" [options]="myDatePickerOptions" [(ngModel)]="evento.data" required></my-date-picker>
                            </label>
                        </section>
                        <section class="col col-md-6">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input required name="duracao" [(ngModel)]="evento.duracao" type="text" placeholder="Duração">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-md-12">
                            <label class="textarea">
                                <i class="icon-prepend fa fa-gear"></i>
                                <textarea rows="3" name="descricao" [(ngModel)]="evento.descricao" placeholder="Descrição"></textarea>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-4"></div>
                        <div class="col-md-5 col-sm-4 col-xs-4">
                            <label class="radio"><input type="radio" value="publico" name="publico_ou_privado" [(ngModel)]="evento.publico_ou_privado" checked=""><i></i>Público</label>
                        </div>
                        <div class="col-md-5 col-sm-8 col-xs-8">
                            <label class="radio"><input type="radio" value="privado" name="publico_ou_privado" [(ngModel)]="evento.publico_ou_privado"><i></i>Privado</label>
                        </div>
                    </div>
                </fieldset>
                <footer>
                    <button *ngIf="!routeId" type="button" (click)="saveEvento()" class="button">Salvar</button>
                    <button *ngIf="routeId" type="button" (click)="updateEvento()" class="button">Atualizar</button>
                </footer>
            </form>
        </div>
    </div>
</div>