<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img class="img-responsive" src="../../assets/images/perfil-mulher.jpg" alt="">
            <div class="caption">
                <h4>Simone Maria</h4>
                <p>Fala bosta, Inglês com posrtugues, etc.</p>
                <p><a href="#" class="btn btn-default" role="button">SEGUIR</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img class="img-responsive" src="../../assets/images/perfil-homem.jpg" alt="">
            <div class="caption">
                <h4>Henry João</h4>
                <p>Fala Russo, Fala mais, etc.</p>
                <p><a href="#" class="btn btn-default" role="button">SEGUIR</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img class="img-responsive" src="../../assets/images/demo/other/thumb_o1.jpg" alt="">
            <div class="caption">
                <h4>Simone Maria</h4>
                <p>Fala bosta, Inglês com posrtugues, etc.</p>
                <p><a href="#" class="btn btn-default" role="button">SEGUIR</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img class="img-responsive" src="../../assets/images/demo/other/thumb_o2.jpg" alt="">
            <div class="caption">
                <h4>Henry João</h4>
                <p>Fala Russo, Fala mais, etc.</p>
                <p><a href="#" class="btn btn-default" role="button">SEGUIR</a></p>
            </div>
        </div>
    </div>
</div>