<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="text-center">AMIGOS</h1>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar amigos...">
                <br>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img class="img-responsive" src="../../assets/images/perfil-mulher.jpg" alt="">
                        <div class="caption">
                            <h4>Simone Maria</h4>
                            <p>Fala bosta, Inglês com posrtugues, etc.</p>
                            <p><a href="#" class="btn btn-default" role="button">SEGUIR</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img class="img-responsive" src="../../assets/images/perfil-homem.jpg" alt="">
                        <div class="caption">
                            <h4>Henry João</h4>
                            <p>Fala Russo, Fala mais, etc.</p>
                            <p><a href="#" class="btn btn-default" role="button">SEGUIR</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img class="img-responsive" src="../../assets/images/demo/other/thumb_o1.jpg" alt="">
                        <div class="caption">
                            <h4>Simone Maria</h4>
                            <p>Fala bosta, Inglês com posrtugues, etc.</p>
                            <p><a href="#" class="btn btn-default" role="button">SEGUIR</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img class="img-responsive" src="../../assets/images/demo/other/thumb_o2.jpg" alt="">
                        <div class="caption">
                            <h4>Henry João</h4>
                            <p>Fala Russo, Fala mais, etc.</p>
                            <p><a href="#" class="btn btn-default" role="button">SEGUIR</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1 class="text-center">TIMELINE</h1>
            <div class="row">
                <div class="col-md-12">
                     <ul class="comment list-unstyled">
                        <li class="comment">
                            <!-- avatar -->
                            <img class="avatar" src="../../assets/images/demo/fashion/thumb/small3.jpg" width="50" height="50" alt="avatar">

                            <!-- comment body -->
                            <div class="comment-body"> 
                                <a href="#" class="comment-author">
                                    <small class="text-muted pull-right"> 12 Minutes ago </small>
                                    <span>Simone Maria</span>
                                </a>
                                <p>
                                    Marcou presença em <span><em>Inglês no marinha</em></span>
                                </p>
                            </div><!-- /comment body -->

                            <!-- options -->
                            <ul class="list-inline fsize11">
                                <li>
                                    <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="text-danger">Delete</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="text-primary">Edit</a>
                                </li>
                            </ul>
                        </li>
                        <li class="comment">
                                <!-- avatar -->
                                <img class="avatar" src="../../assets/images/demo/fashion/thumb/small3.jpg" width="50" height="50" alt="avatar">
    
                                <!-- comment body -->
                                <div class="comment-body"> 
                                    <a href="#" class="comment-author">
                                        <small class="text-muted pull-right"> 12 Minutes ago </small>
                                        <span>Simone Maria</span>
                                    </a>
                                    <p>
                                        Marcou presença em <span><em>Inglês no marinha</em></span>
                                    </p>
                                </div><!-- /comment body -->
    
                                <!-- options -->
                                <ul class="list-inline fsize11">
                                    <li>
                                        <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-danger">Delete</a>
                                    </li>
                                    <li class="pull-right">
                                        <a href="#" class="text-primary">Edit</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="comment">
                            <!-- avatar -->
                            <img class="avatar" src="../../assets/images/demo/fashion/thumb/small3.jpg" width="50" height="50" alt="avatar">

                            <!-- comment body -->
                            <div class="comment-body"> 
                                <a href="#" class="comment-author">
                                    <small class="text-muted pull-right"> 12 Minutes ago </small>
                                    <span>Simone Maria</span>
                                </a>
                                <p>
                                    Marcou presença em <span><em>Inglês no marinha</em></span>
                                </p>
                            </div><!-- /comment body -->

                            <!-- options -->
                            <ul class="list-inline fsize11">
                                <li>
                                    <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="text-danger">Delete</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="text-primary">Edit</a>
                                </li>
                            </ul>
                        </li>
                        <li class="comment">
                            <!-- avatar -->
                            <img class="avatar" src="../../assets/images/demo/fashion/thumb/small3.jpg" width="50" height="50" alt="avatar">

                            <!-- comment body -->
                            <div class="comment-body"> 
                                <a href="#" class="comment-author">
                                    <small class="text-muted pull-right"> 12 Minutes ago </small>
                                    <span>Simone Maria</span>
                                </a>
                                <p>
                                    Marcou presença em <span><em>Inglês no marinha</em></span>
                                </p>
                            </div><!-- /comment body -->

                            <!-- options -->
                            <ul class="list-inline fsize11">
                                <li>
                                    <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="text-danger">Delete</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="text-primary">Edit</a>
                                </li>
                            </ul>
                        </li>
                        <li class="comment">
                            <!-- avatar -->
                            <img class="avatar" src="../../assets/images/demo/fashion/thumb/small3.jpg" width="50" height="50" alt="avatar">

                            <!-- comment body -->
                            <div class="comment-body"> 
                                <a href="#" class="comment-author">
                                    <small class="text-muted pull-right"> 12 Minutes ago </small>
                                    <span>Simone Maria</span>
                                </a>
                                <p>
                                    Marcou presença em <span><em>Inglês no marinha</em></span>
                                </p>
                            </div><!-- /comment body -->

                            <!-- options -->
                            <ul class="list-inline fsize11">
                                <li>
                                    <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="text-danger">Delete</a>
                                </li>
                                <li class="pull-right">
                                    <a href="#" class="text-primary">Edit</a>
                                </li>
                            </ul>
                        </li>
                     </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1 class="text-center">EVENTOS</h1>
            <button (click)="redirectToEvento()" class="btn">CRIAR EVENTO</button>
            <mapa [latitude]="latitude" [longitude]="longitude" [zoom]="15"></mapa>
        </div>
    </div>
</div>

<!-- <MODAIS> -->
<!-- <form-evento [openModal]="modalEvento"></form-evento> -->
<!-- </MODAIS> -->